@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


#wrap{
    width:400px;
    margin: 0 auto;
    font-family: 'Ownglyph_ParkDaHyun';
}
/**/
#todoTop{
    display:flex;
}
/*2. 입력상자*/

.contentInput{
    width: 300px;
    padding:10px;
    border : none;
    box-shadow: 0px 0px 3px rgb(255, 101, 125);
}
/* 3. 등록버튼 */

.addBtn{
    width : 100px;
    padding: 10px;
    background-color: lightpink;
    box-shadow: 0px 0px 3px rgb(255, 101, 125);
    border: none;
    font-family: 'Ownglyph_ParkDaHyun';
}
/*할일 1개 구역 : 할일이 미완료일때*/
.contentBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightpink;
    margin: 20px 0px;
    padding : 15px 10px
}
/*할일 1개 구역 : 할일이 완료일때*/
.success{
    background-color: grey;
    color : white;
    
}
.success>.content{
    text-decoration: line-through;
}
.updateBtn ,.deleteBtn{
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgb(255, 101, 125);
    font-family: 'Ownglyph_ParkDaHyun';
}
